body{
  background-color: F8F8F8;
  position: relative;
} 

#header h1{
  color: #D11919;
  text-align: center;
  position: relative;
  font-family: sans-serif;
}

#header h2{
  padding-left: .5em;
}

#form{
  padding-left: 5em;
  padding-right: 5em;
  display: block;
}

#wrapper{
  padding-left: 1em;
}

#address{
  color: white;
}

#section{
  padding-left: 5em;
}
footer{
   background-color: 	#131212;
 
}

footer h5{
  color: white;
} 
footer p{
  color: white;
}
footer h3{
  color:white;
}
label{
  color: white;
}
