body{
  background-color: F8F8F8;
  position: relative;
} 

#header h1{
  color: #D11919;
  text-align: center;
  position: relative;
  font-family: sans-serif;
}

#address{
  color: white;
}

footer{
   background-color: 	#131212;
   float: relative;
   padding-right: 0;
}
footer h5{
  color: white;
} 
footer p{
  color: white;
}
footer h3{
  color:white;
}
label{
  color: white;
}
